<br>

<h2 align="center"> Your News feed </h2>
<br>
<br>
 <div id="container">

	<% posts = Post.where('organisation_id IN (?) OR user_id IN (?)', current_user.follows.pluck(:organisation_id), current_user.friends.pluck(:id)).order(created_at: :desc)%>

	<% posts.each do |p| %>

<%#if p.event_created = true%>

 
		<%= p.content %>
		<br>
		<br>
	<% end %>

 </div>




