<div class="col-12 align-items-center">
  <div class="container grey" id="box">
    <div class="container" id="inner-container">
      <h1>New Event</h1>

      <%= render 'form', event: @event %>

      <%= link_to 'Back', events_path %>
    </div>
  </div>
</div>